*,
*:after,
*:before {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 0 10px;
}

.container {
  max-width: 1179px;
  margin: auto;
  padding: 0 10px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
