// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;
$primaryFont             : 'Source Sans Pro', sans-serif;;
$secondaryFont           : 'Lato', sans-serif;
// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #848e97;
$secondary-color         : #635c73;
$accent-color            : #8d81ac;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$our-possibilities-bg    : #f4f4f4;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #323232;
$neutral-secondary       : #d3d1da;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;